:root {
    --primary: #f84848;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white
}

.shoe {
    display: none;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 860px;
}

.shoeBackground {
    width: 50%;
    height: 475px;
    box-shadow: -15px 0 35px rgba(0,0,0,0.1),
    0 -15px 35px rgba(0,0,0,0.1),
    0 15px 35px rgba(0,0,0,0.1);
    position: relative;
}

.gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;;
}
.gradient[color="blue"] {
    background-image: linear-gradient(45deg, #0136af, #22abfa)
}

.gradient[color="red"] {
    background-image: linear-gradient(45deg, #d62926, #ee625f)
}

.gradient[color="green"] {
    background-image: linear-gradient(45deg, #11998e, #1ce669)
}

.gradient[color="orange"] {
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733)
}

.gradient[color="black"] {
    background-image: linear-gradient(45deg, #111, #666)
}

.logo {
    position: absolute;
    width: 100px;
    left: 20px;
    top: 20px;
}

.share {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary);
    transition: .5s;
}

.share:hover {
    transform: scale(1.1)
}

.share i {
    line-height: 50px;
}

.info {
    width: 50%;
}